<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>

  <main class="main-content">
    <%- body %>
  </main>

  <%- include('partials/footer') %>

  <!-- Toast container -->
  <div id="toast-container"></div>

  <script src="/js/main.js"></script>
</body>
</html>
